<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Adovue</title>
  </head>
  <body>
    <noscript>Votre navigateur à besoin de JavaScript pour utiliser cette application.</noscript>
    <div id="app"></div>
    <script src="/js/main.js"></script>
  </body>
</html>